html{
    background-color: black;
    font-family: "Calibri";
    color: white;
    font-size: 6px;
}
header{
    background-color: black;
    color:white;
}
nav{
    margin-bottom: -30px;
}
nav ul{
    align-content: center;
    align-items: center;
    text-align: center;
}
nav li{
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
}

nav ul li img{
    width: 90px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #4b65a4;
}
.apartados{
    vertical-align: middle;
}

/*Targetas*/
section{
    background-color: #1e3d5b;
    padding-top: 35px;
    padding-bottom: 35px;
}
.grid{
    display: grid;/*Declaramos el sistema grid*/
    grid-template-columns: repeat(12,1fr);/*Le decimos que tenga 12 columnas de 1 fracción*/
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;/*Para que se ponga en el centro de la pantalla*/
    gap: 10px;
    overflow: hidden;/*Para que si se sale algun elemento se oculte*/
    align-items: center;/*Propidedad que hace que se pongan en el centro*/
}
.playlist{
    padding:50px;
}
.img{
    padding-right: 50px;
    max-width: 300px;
    grid-column: span 3;
    margin: auto;
    transition: transform .2s;
}
.img:hover {
    transform: scale(1.2);
}
.imagentonta{
    width: 95%;
    max-width: 400px;
}
/* FOOTER */
/* Links */
.footer-links {
    background: #000000;
    color: #ffffff;
    font-size: 12px;
    padding: 35px 0;
    list-style: none;
}

.footer-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul {
    margin: 0 auto;
    list-style: none;
}

.footer-links li {
    line-height: 2.8;
    list-style: none;
}

.footer {
    background: #000000;
    color: #ffffff;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
}

.row{
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(5, [row] auto);
    grid-column-gap: 20px;
    grid-row-gap: 7px;
    justify-content: center;
    align-content: center;
}
/* pantalla móvil */
@media only screen and (max-width: 599px){
    .col-sm-1 {
        grid-column: span 1;
    }
    .col-sm-2 {
        grid-column: span 2;
    }
    .col-sm-3 {
        grid-column: span 3;
    }
    .col-sm-4 {
        grid-column: span 4;
    }
    .col-sm-5 {
        grid-column: span 5;
    }
    .col-sm-6 {
        grid-column: span 6;
    }
    .col-sm-7 {
        grid-column: span 7;
    }
    .col-sm-8 {
        grid-column: span 8;
    }
    .col-sm-9 {
        grid-column: span 9;
    }
    .col-sm-10 {
        grid-column: span 10;
    }
    .col-sm-11 {
        grid-column: span 11;
    }
    .col-sm-12 {
        grid-column: span 12;
    }
}
/* Pantalla tablet  */
@media only screen and (min-width: 600px) and (max-width: 799px){
    .col-md-1 {
        grid-column: span 1;
    }
    .col-md-2 {
        grid-column: span 2;
    }
    .col-md-3 {
        grid-column: span 3;
    }
    .col-md-4 {
        grid-column: span 4;
    }
    .col-md-5 {
        grid-column: span 5;
    }
    .col-md-6 {
        grid-column: span 6;
    }
    .col-md-7 {
        grid-column: span 7;
    }
    .col-md-8 {
        grid-column: span 8;
    }
    .col-md-9 {
        grid-column: span 9;
    }
    .col-md-10 {
        grid-column: span 10;
    }
    .col-md-11 {
        grid-column: span 11;
    }
    .col-md-12 {
        grid-column: span 12;
    }
}
/* Pantalla grande  */
@media only screen and (min-width: 800px) {
    .col-lg-1 {
        grid-column: span 1;
    }
    .col-lg-2 {
        grid-column: span 2;
    }
    .col-lg-3 {
        grid-column: span 3;
    }
    .col-lg-4 {
        grid-column: span 4;
    }
    .col-lg-5 {
        grid-column: span 5;
    }
    .col-lg-6 {
        grid-column: span 6;
    }
    .col-lg-7 {
        grid-column: span 7;
    }
    .col-lg-8 {
        grid-column: span 8;
    }
    .col-lg-9 {
        grid-column: span 9;
    }
    .col-lg-10 {
        grid-column: span 10;
    }
    .col-lg-11 {
        grid-column: span 11;
    }
    .col-lg-12 {
        grid-column: span 12;
    }
}